*, *::before, *::after {
  box-sizing: border-box;
}

.navbar {
  display:flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.nav-logo p {
  color: #252525;
  font-size: 36px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.burger-icon {
  display: none;
}

.menu-container {
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu-link {
  text-decoration: none;
  color: #252525;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff3014;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  margin-left: 30px;
  outline: none;
  border: 1px solid #ff3014;
  border-radius: 75px;
  color: #252525;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: #ff3014;
  color: white;
}

@media (max-width: 1060px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-container {
    margin-top: 2em;
  }
}

@media (max-width: 850px) {
  .navbar {
    align-items: baseline;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
  }

  .nav-logo img {
    height: 50px;
  }

  .nav-logo p {
    font-size: 30px;
  }

  .burger-icon {
    display: inline-block;
    width: 60px;
    margin-right: 30px;
    cursor: pointer;
  }

  .menu-container {
    display: none;
  }

  .menu-container-visible {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 1em;
    width: 90%;
  }

  .nav-menu, .nav-login-cart {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: .5em;
    padding-left: 0;
    margin-left: 2em;
  }

  .nav-login-cart button {
    width: 110px;
    height: 45px;
    margin: .5em 0;
    margin-left: -1.5em;
  }

  .nav-cart-count {
    position: absolute;
    margin-top: 70px;
    margin-left: 25px;
  }
}

@media (max-width: 480px) {
  .nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5em;
    width: 90%;
  }

  .nav-logo {
    margin-left: 25px;
  }

  .nav-login-cart {
    gap: 30px;
  }

  .burger-icon {
    margin-left: 1em;
    margin-right: auto;
  }
}