.offers {
  min-width: 900px;
  height: 70vh;
  margin: 0px 100px;
  display: flex;
  padding: 40px 80px;
  text-align: start;
  margin-top: 150px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #acd3ff, #fff1a422 60%);
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #252525;
  font-size: 56px;
  font-weight: 600;
}

.offers-left p {
  color: #252525;
  font-size: 36px;
  font-weight: 600;
}

.offers-left button {
  width: 280px;
  height: 60px;
  border-radius: 35px;
  background: #ff3014;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.offers-right img {
  width: 380px;
  margin-bottom: 120px;
  margin-left: 100px;
}

@media (max-width: 1100px) {
  .offers {
    flex-direction: column;
    width: 100%;
    min-width: 0;
    margin: 0;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .offers-left {
    width: 100%;
    align-items: center;
  }

  .offers-right {
    padding-top: 0;
    justify-content: center;
  }

  .offers-right img {
    width: 70%;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 750px) {
  .offers-left h1 {
    font-size: 36px;
  }

  .offers-left p {
    font-size: 24px;
  }

  .offers-left button {
    width: 200px;
  }

  .offers-right img {
    width: 100%;
  }
}